<div class="container">
    <div class="border"></div>
    <div class="content">
        <div class="links">
            <a href="/">Home</a><span class="separator"> | </span>
            <a href="/about-me">About me</a><span class="separator"> | </span>
            <a href="/contact">Contact</a>
        </div>
        <div class="links">
            <a href="https://github.com/DaaromThomas" target="_blank">GitHub</a><span class="separator"> | </span>
            <a href="https://www.linkedin.com/in/thomas-pijper-94a51a2b2/" target="_blank">LinkedIn</a><span class="separator"> | </span>
            <a href="mailto:56thomasp56@gmail.com">Email</a>
        </div>
        <p>© 2024 Thomas Pijper. All rights reserved.</p>
    </div>
</div>
