.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 6vh;
}

.introduction-card {
    display: flex;
    width: 95vw;
    max-height: 40vh;
    padding: 3vw;
    border-radius: 15px;
    overflow: hidden;
}

.info, .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    flex-direction: column;
    padding: 2vw;
}

.info h1 {
    color: #494D5F;
    font-size: 28px;
    margin-bottom: 10px;
}

.name-highlight {
    color: #2973B2;
    font-weight: bold;
}


.info h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    opacity: 0.9;
    color: #494D5F;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.9;
    color: #494D5F;
}

.image-container img {
    max-height: 40vh;
    width: auto;
    aspect-ratio: 1;
    object-fit: cover;
}
