<div class="container">
    <div class="introduction-card">
        <div class="info">
            <h1>Hi, I'm <span class="name-highlight">Thomas Pijper</span>!</h1>
            <h2>Third-Year ICT Student | Intern at YourMaki BV | Fullstack Developer</h2>
            <p>I am currently studying Software Engineering at Hogeschool Leiden and doing an internship at YourMaki BV. 
                I am passionate about development, frontend and backend, and software engineering. 
                My focus is on scalable, user-friendly, and modern applications.</p>
        </div>
        <div class="image-container">
            <img src="/assets/images/PF.png" alt="Personal picture">
        </div>
    </div>
</div>
