.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6vh;
    margin-bottom: 6vh;
    gap: 6vh;
}

.introduction-card {
    display: flex;
    width: 95vw;
    padding: 3vw;
    border-radius: 15px;
    overflow: hidden;
}

.info, .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info {
    flex-direction: column;
    padding: 2vw;
}

.info h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.name-highlight {
    color: #2973B2;
    font-weight: bold;
}


.info h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    opacity: 0.9;
}

.info p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.9;
}

.image-container img {
    max-height: 40vh;
    width: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.specialisation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.specialisation-card h1 {
    text-align: center;
}

.specialisations {
    display: flex;
    flex-direction: row;
    max-width:100%;
}

.button-48 {
    border: 0;
    color: #000000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    padding: 1.5em 2.2em;
    position: relative;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    background-color: transparent;
}
  
.button-48:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EBEBEB;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
}
  
.button-48:hover:before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.button-48::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #48A6A7 0%, #2973B2 100%);
}
  
.button-48 span {
    z-index: 1;
    position: relative;
} 
  
a {
    color: #494D5F;
    text-decoration: none;
    padding-bottom: 1vh;
    margin-top: 1vh;
}   

.programming-experience-card {
    display: flex;
    flex-direction: row;
    gap: 3vw;
}

.lines {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.experience-line {
    display: flex;
    flex-direction: column;
}

.line-mask {
    min-width: 17vw;
    height: 15px;
    overflow: hidden;
    background-color: #ddd;
}

.line-container {
    width: 50vw;
    height: 15px;
    background-color: #ddd;
    overflow: hidden;
}

.line {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, #48A6A7, #2973B2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: width 2s ease-out;
}

.line-grow {
    width: 100%;
}


@keyframes growLine {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


@media only screen and (max-width: 900px) {
    .specialisations {
        flex-direction: column;
    }

    .introduction-card {
        flex-direction: column;
        height: fit-content;
    }
    
    .image-container img {
        max-height: 27vh;
    } 
    
    .programming-experience-card {
        flex-direction: column;
    }

    .lines {
        max-width: 77vw;
    }
}
