<div class="container">
    <div class="introduction-card">
        <div class="info">
            <h1>Hi, I'm <span class="name-highlight">Thomas Pijper</span>!</h1>
            <h2>Third-Year ICT Student | Intern at YourMaki BV | Fullstack Developer</h2>
            <p>I am currently studying Software Engineering at Hogeschool Leiden and doing an internship at YourMaki BV. 
                I am passionate about development, frontend and backend, and software engineering. 
                My focus is on scalable, user-friendly, and modern applications.</p>
        </div>
        <div class="image-container">
            <img src="/assets/images/PF.png" alt="Personal picture">
        </div>
    </div>
    <div class="specialisation-card">
        <div class="specialisations">
            <app-specialisation-card 
                [image]="'/assets/images/angular-logo.png'" 
                [title]="'Frontend: Angular'"
            >
                I specialize in building dynamic and scalable web applications using Angular. 
                My expertise includes component-based architecture, reactive programming with RxJS, 
                and state management with NgRx.
            </app-specialisation-card>
            <app-specialisation-card
                [image]="'/assets/images/spring-boot.png'"
                [title]="'Backend: Springboot'"
            >
                Developing robust and scalable backend applications is my expertise. 
                With Spring Boot, I build RESTful APIs, manage data persistence with JPA & Hibernate, 
                and implement secure authentication using Spring Security. 
                My focus is on performance, maintainability, and clean architecture.
            </app-specialisation-card>
            <app-specialisation-card
                [image]="'/assets/images/postgresql.png'"
                [title]="'Database: Postgresql'"
            >
                I have experience designing and managing relational databases using PostgreSQL. 
                I focus on writing optimized SQL queries, indexing strategies, and ensuring data integrity. 
                I also work with ORMs like Hibernate and query optimization techniques for high-performance applications.
            </app-specialisation-card>
        </div>
    </div>
    <div class="programming-experience-card">
        <div class="programming-languages">
            <h3>Programming Languages</h3>
            <div class="lines">
                <div *ngFor="let language of programmingLanguages" class="experience-line">
                    <label for="{{'line-' + language.name}}">{{ language.name }}</label>
                    <div class="line-mask">
                        <div class="line" [style.clip-path]="'inset(0 ' + (100 - language.value) + '% 0 0)'"></div>
                    </div>
                </div> 
            </div>                                  
        </div>
        <div class="Skills">
            <h3>Skills</h3>
            <div class="lines">
                <div *ngFor="let skill of skills" class="experience-line">
                    <label for="{{'line-' + skill.name}}">{{ skill.name }}</label>
                    <div class="line-mask">
                        <div class="line" [style.clip-path]="'inset(0 ' + (100 - skill.value) + '% 0 0)'"></div>
                    </div>
                </div> 
            </div> 
        </div>
    </div>
    <button class="button-48" role="button" (click)="navigate('/about-me')"><span class="text">Learn more</span></button>
</div>
